/*
GAMA DE COLORES
GRIS 100: #A8B2BF
VERDE OSCURO: #262614
VERDE 100: #717343
MOSTAZA 100: #F2AC29
MOSTAZA 500: #F29A2E

espacios utiilizar %
texto utilizar rem
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Kodchasan", sans-serif;
    src: url("../assets/typography/Kodchasan-ExtraLight.ttf");
}


h1, body, html, main {  
    margin: 0; 
}

html {   
    font-family: "Kodchasan", sans-serif;
    font-weight: 200;
    font-style: normal;
}

/* HEADER NAV */
.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #262614;
    height: 100px;
    width: 100%;
}

.menu  a img{
    height: 70px;
    width: 70px;
}

.menu ul{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-content: space-between;
    width: 80%;
    list-style: none;
}

.menu ul li{
    padding: 0 20px;
}
.menu ul li a{
    text-decoration: none;
    color: #262614;
    font-size: 1em;
}

/* MAIN */

/* HOME & SERVICES */

.searcher {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
    border: 2px solid #262614;
    border-radius: 5px;
    padding: 10px;
    font-size: 0.8em;

}

.my_card_list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 3px solid orange;
}

.my_card{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    width: 30%;
    height: 300px;
    border: 3px solid #262614;
    margin-bottom: 20px;
}

.my_card a{
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.my_banner {
    width: 100%;
    height: 90%;
    background-size: cover;
}
.banner_img_copany {
    background-image: url("../assets/img/company.jpeg");
}

.banner_img_nomade {
    background-image: url("../assets/img/nomade.jpeg");
}

.banner_img_wordpress {
    background-image: url("../assets/img/wordpress.jpeg");
}

.banner_img_react {
    background-image: url("../assets/img/react.jpeg");
}

.banner_img_angular {
    background-image: url("../assets/img/angular.jpeg");
}
.banner_img_ga4 {
    background-image: url("../assets/img/ga4.jpeg");
}

.banner_img_tealium {
    background-image: url("../assets/img/ga4.jpeg");
}
.banner_img_events {
    background-image: url("../assets/img/events.jpeg");
}
.banner_img_food {
    background-image: url("../assets/img/food.jpeg");
}
.banner_img_theater {
    background-image: url("../assets/img/theater.jpeg");
}

/* NOMADES & CONTACT */
.nomadeInfo{
    display: flex;
    flex-direction: row;

}

.nomadeInfo section{
    width: 50%;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* PRIVACY */
.privacy{
    margin: 20px;
}


/* FOOTER CON GRID EN PRIVACY */
.grid_footer {
    margin-top: 20px;
    color: #F29A2E;
    background-color: #262614;
    padding: 20px 0; /* Espaciado superior e inferior */
    font-size: 0.7em;
  }
  
  .footer-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 5 columnas en pantallas grandes */
    gap: 20px; /* Espacio entre los enlaces */
    justify-items: center; 
  }
  
  .grid_footer a {
    text-decoration: none;
    color: #F29A2E;
    text-align: center; 
  }
  
  .grid_footer div {
    text-decoration: none;
    color: #F29A2E;
    text-align: center; 
  }
  @media (max-width: 768px) {
    .footer-grid {
      grid-template-columns: 1fr; 
    }
  }
/*

.card:hover{
    filter: blur(5px);
    display: flex;
    justify-content: center;
    gap: 40px;
}

.container .card:nth-child(2){
}

.container .card:first-child
*/